/* Oxygen Color Palette ~ http://oxygen-icons.org */

/*
GIMP Palette
Name: Oxygen 
#
56  37    9	wood brown6 
87  64   30	wood brown5
117 81   26	wood brown4
143 107	 50	wood brown3
179 146  93	wood brown2
222 188 133	wood brown1
156  15  15	brick red6
191   3   3	brick red5
226   8   0	brick red4
232  87  82	brick red3
240 134 130	brick red2
249 204 202	brick red1
156  15  86	raspberry pink6
191   3  97	raspberry pink5
226   0 113	raspberry pink4
232  82 144	raspberry pink3
240 130 176	raspberry pink2
249 202 222	raspberry pink1
106   0  86	burgundy purple6
133   2 108	burgundy purple5
160  39 134	burgundy purple4
177  79 154	burgundy purple3
193 115 176     burgundy purple2
232 183 215     burgundy purple1
 29   10 85     grape violet6
 52  23 110     grape violet5
 70  40 134     grape violet4
100  74 155     grape violet3
142 121 165     grape violet2
195 180 218     grape violet1
  0  49 110     skyblue6
  0  67 138     skyblue5
  0  87 174     skyblue4
 44 114 199     skyblue3
 97 147 207     skyblue2
164 192 228     skyblue1
  0  72  77     sea blue6
  0  96 102     sea blue5
  0 120 128     sea blue4
  0 167 179     sea blue3
  0 196 204     sea blue2
168 221 224     sea blue1
  0   88 63     emerald green6
  0 115  77     emerald green5
  0 153 102     emerald green4
  0 179 119     emerald green3
  0 204 136     emerald green2
153 220 198     emerald green1
 0  110  41     forest green6
 0  137  44     forest green5
 55 164  44     forest green4
119 183  83     forest green3
177 210 143     forest green2
216 232 194     forest green1
227 173   0     sun yellow6
243 195   0     sun yellow5
255 221   0     sun yellow4
255 235  85     sun yellow3
255 242 153     sun yellow2
255 246 200     sun yellow1
172  67  17     hot orange6
207  73  19     hot orange5
235 115  49     hot orange4
242 155 104     hot orange3
242 187 136     hot orange2
255 217 176     hot orange1
 46  52  54     aluminum gray6
 85  87  83     aluminum gray5
136 138 133     aluminum gray4
186 189 182     aluminum gray3
211 215 207     aluminum gray2
238 238 236     aluminum gray1
 77  38   0	brown orange6
128  63   0	brown orange5
191  94   0	brown orange4
255 126   0	brown orange3
255 191 128	brown orange2
255 223 191	brown orange1
 89   0   0	red6
140   0   0	red5
191   0   0	red4
255   0   0	red3
255 128 128	red2
255 191 191	red1
115   0  85	pink6
163   0 123	pink5
204   0 154	pink4
255   0 191	pink3
255 128 223	pink2
255 191 240	pink1
 44   0  89	purple6
 64   0 128	purple5
 90   0 179	purple4
128   0	255	purple3
192 128 255	purple2
223 191 255	purple1
  0   0 128	blue6
  0   0 191	blue5
  0   0 255	blue4
  0 102 255	blue3
128 179 255	blue2
191 217 255	blue1
  0  77   0	green6
  0 140   0	green5
  0 191   0	green4
  0 255   0	green3
128 255 128	green2
191 255 191	green1
 99 128   0	lime6
139 179   0	lime5
191 245   0	lime4
229 255   0	lime3
240 255 128	lime2
248 255 191	lime1
255 170   0	yellow6
255 191   0	yellow5
255 213   0	yellow4
255 255   0	yellow3
255 255 153	yellow2
255 255 191	yellow1
 50  50  50	gray6
 85  85  85	gray5
136 136 136	gray4
187 187 187	gray3
221 221 221	gray2
238 238 238	gray1

*/

/* Wood Brown */
.wood-brown-6 { color: #382509; }
.wood-brown-6-bg { background-color: #382509; }

.wood-brown-5 { color: #57401e; }
.wood-brown-5-bg { background-color: #57401e; }

.wood-brown,
.wood-brown-4 { color: #75511a; }
.wood-brown-bg,
.wood-brown-4-bg { background-color: #75511a; }

.wood-brown-3 { color: #8f6b32;}
.wood-brown-3-bg { background-color: #8f6b32; }

.wood-brown-2 { color: #b3925d; }
.wood-brown-2-bg { background-color: #b3925d; }

.wood-brown-1 { color: #debc85; }
.wood-brown-1-bg { background-color: #debc85; }

/* Brick Red */
.brick-red-6 { color: #9c0f0f; }
.brick-red-6-bg { background-color: #9c0f0f; }

.brick-red-5 { color: #bf0303; }
.brick-red-5-bg { background-color: #bf0303; }

.brick-red,
.brick-red-4 { color: #e20800; }
.brick-red-bg,
.brick-red-4-bg { background-color: #e20800; }

.brick-red-3 { color: #e85752;}
.brick-red-3-bg { background-color: #e85752; }

.brick-red-2 { color: #f08682; }
.brick-red-2-bg { background-color: #f08682; }

.brick-red-1 { color: #f9ccca; }
.brick-red-1-bg { background-color: #f9ccca; }

/* Raspberry Pink */
.raspberry-pink-6 { color: #9c0f56; }
.raspberry-pink-6-bg { background-color: #9c0f56; }

.raspberry-pink-5 { color: #bf0361; }
.raspberry-pink-5-bg { background-color: #bf0361; }

.raspberry-pink,
.raspberry-pink-4 { color: #e20071; }
.raspberry-pink-bg,
.raspberry-pink-4-bg { background-color: #e20071; }

.raspberry-pink-3 { color: #e85290;}
.raspberry-pink-3-bg { background-color: #e85290; }

.raspberry-pink-2 { color: #f082b0; }
.raspberry-pink-2-bg { background-color: #f082b0; }

.raspberry-pink-1 { color: #f9cade; }
.raspberry-pink-1-bg { background-color: #f9cade; }

/* Burgundy Purple */
.burgundy-purple-6 { color: #6a0056; }
.burgundy-purple-6-bg { background-color: #6a0056; }

.burgundy-purple-5 { color: #85026c; }
.burgundy-purple-5-bg { background-color: #85026c; }

.burgudy-purple,
.burgundy-purple-4 { color: #a02786; }
.burgundy-purple-bg,
.burgundy-purple-4-bg { background-color: #a02786; }

.burgundy-purple-3 { color: #b14f9a;}
.burgundy-purple-3-bg { background-color: #b14f9a; }

.burgundy-purple-2 { color: #c173b0; }
.burgundy-purple-2-bg { background-color: #c173b0; }

.burgundy-purple-1 { color: #e8b7d7; }
.burgundy-purple-1-bg { background-color: #e8b7d7; }

/* Grape Violet */
.grape-violet-6 { color: #1d0a55; }
.grape-violet-6-bg { background-color: #1d0a55; }

.grape-violet-5 { color: #34176e; }
.grape-violet-5-bg { background-color: #34176e; }

.grape-violet,
.grape-violet-4 { color: #462886; }
.grape-violet-bg,
.grape-violet-4-bg { background-color: #462886; }

.grape-violet-3 { color: #644a9b;}
.grape-violet-3-bg { background-color: #644a9b; }

.grape-violet-2 { color: #8e79a5; }
.grape-violet-2-bg { background-color: #8e79a5; }

.grape-violet-1 { color: #c3b4da; }
.grape-violet-1-bg { background-color: #c3b4da; }

/* Sky Blue */
.sky-blue-6 { color: #00316e; }
.sky-blue-6-bg { background-color: #00316e; }

.sky-blue-5 { color: #00438a; }
.sky-blue-5-bg { background-color: #00438a; }

.sky-blue,
.sky-blue-4 { color: #0057ae; }
.sky-blue-bg,
.sky-blue-4-bg { background-color: #0057ae; }

.sky-blue-3 { color: #2c72c7;}
.sky-blue-3-bg { background-color: #2c72c7; }

.sky-blue-2 { color: #6193cf; }
.sky-blue-2-bg { background-color: #6193cf; }

.sky-blue-1 { color: #a4c0e4; }
.sky-blue-1-bg { background-color: #a4c0e4; }

/* Sea Blue */
.sea-blue-6 { color: #00484d; }
.sea-blue-6-bg { background-color: #00484d; }

.sea-blue-5 { color: #006066; }
.sea-blue-5-bg { background-color: #006066; }

.sea-blue,
.sea-blue-4 { color: #007880; }
.sea-blue-bg,
.sea-blue-4-bg { background-color: #007880; }

.sea-blue-3 { color: #00a7b3;}
.sea-blue-3-bg { background-color: #00a7b3; }

.sea-blue-2 { color: #00c4cc; }
.sea-blue-2-bg { background-color: #00c4cc; }

.sea-blue-1 { color: #a8dde0; }
.sea-blue-1-bg { background-color: #a8dde0; }

/* Emerald Green */
.emerald-green-6 { color: #00583f; }
.emerald-green-6-bg { background-color: #00583f; }

.emerald-green-5 { color: #00734d; }
.emerald-green-5-bg { background-color: #00734d; }

.emerald-green,
.emerald-green-4 { color: #009966; }
.emerald-green-bg,
.emerald-green-4-bg { background-color: #009966; }

.emerald-green-3 { color: #00b377;}
.emerald-green-3-bg { background-color: #00b377; }

.emerald-green-2 { color: #00cc88; }
.emerald-green-2-bg { background-color: #00cc88; }

.emerald-green-1 { color: #99dc88; }
.emerald-green-1-bg { background-color: #99dc88; }

/* Forest Green */
.forest-green-6 { color: #006e29; }
.forest-green-6-bg { background-color: #006e29; }

.forest-green-5 { color: #00892c; }
.forest-green-5-bg { background-color: #00892c; }

.forest-green,
.forest-green-4 { color: #37a42c; }
.forest-green-bg,
.forest-green-4-bg { background-color: #37a42c; }

.forest-green-3 { color: #77b753;}
.forest-green-3-bg { background-color: #77b753; }

.forest-green-2 { color: #b1d28f; }
.forest-green-2-bg { background-color: #b1d28f; }

.forest-green-1 { color: #d8e8c2; }
.forest-green-1-bg { background-color: #d8e8c2; }

/* Sun Yellow */
.sun-yellow-6 { color: #e3ad00; }
.sun-yellow-6-bg { background-color: #e3ad00; }

.sun-yellow-5 { color: #f3c300; }
.sun-yellow-5-bg { background-color: #f3c300; }

.sun-yellow,
.sun-yellow-4 { color: #ffdd00; }
.sun-yellow-bg,
.sun-yellow-4-bg { background-color: #ffdd00; }

.sun-yellow-3 { color: #ffeb55;}
.sun-yellow-3-bg { background-color: #ffeb55; }

.sun-yellow-2 { color: #fff299; }
.sun-yellow-2-bg { background-color: #fff299; }

.sun-yellow-1 { color: #fff6c8; }
.sun-yellow-1-bg { background-color: #fff6c8; }

/* Hot Orange */
.hot-orange-6 { color: #ac4311; }
.hot-orange-6-bg { background-color: #ac4311; }

.hot-orange-5 { color: #cf4913; }
.hot-orange-5-bg { background-color: #cf4913; }

.hot-orange,
.hot-orange-4 { color: #eb7331; }
.hot-orange-bg,
.hot-orange-4-bg { background-color: #eb7331; }

.hot-orange-3 { color: #f29b68;}
.hot-orange-3-bg { background-color: #f29b68; }

.hot-orange-2 { color: #f2bb88; }
.hot-orange-2-bg { background-color: #f2bb88; }

.hot-orange-1 { color: #ffd9b0; }
.hot-orange-1-bg { background-color: #ffd9b0; }

/* Aluminum Gray */
.aluminum-gray-6 { color: #2e3436; }
.aluminum-gray-6-bg { background-color: #2e3436; }

.aluminum-gray-5 { color: #555753; }
.aluminum-gray-5-bg { background-color: #555753; }

.aluminum-gray,
.aluminum-gray-4 { color: #888a85; }
.aluminum-gray-bg,
.aluminum-gray-4-bg { background-color: #888a85; }

.aluminum-gray-3 { color: #babdb6;}
.aluminum-gray-3-bg { background-color: #babdb6; }

.aluminum-gray-2 { color: #d3d7cf; }
.aluminum-gray-2-bg { background-color: #d3d7cf; }

.aluminum-gray-1 { color: #eeeeec; }
.aluminum-gray-1-bg { background-color: #eeeeec; }

/* Brown Orange */
.brown-orange-6 { color: #; }
.brown-orange-6-bg { background-color: #; }

.brown-orange-5 { color: #; }
.brown-orange-5-bg { background-color: #; }

.brown-orange,
.brown-orange-4 { color: #; }
.brown-orange-bg,
.brown-orange-4-bg { background-color: #; }

.brown-orange-3 { color: #;}
.brown-orange-3-bg { background-color: #; }

.brown-orange-2 { color: #; }
.brown-orange-2-bg { background-color: #; }

.brown-orange-1 { color: #; }
.brown-orange-1-bg { background-color: #; }

/* Red */
.red-6 { color: #; }
.red-6-bg { background-color: #; }

.red-5 { color: #; }
.red-5-bg { background-color: #; }

.red,
.red-4 { color: #; }
.red-bg,
.red-4-bg { background-color: #; }

.red-3 { color: #;}
.red-3-bg { background-color: #; }

.red-2 { color: #; }
.red-2-bg { background-color: #; }

.red-1 { color: #; }
.red-1-bg { background-color: #; }

/* Pink */
.pink-6 { color: #; }
.pink-6-bg { background-color: #; }

.pink-5 { color: #; }
.pink-5-bg { background-color: #; }

.pink,
.pink-4 { color: #; }
.pink-bg,
.pink-4-bg { background-color: #; }

.pink-3 { color: #;}
.pink-3-bg { background-color: #; }

.pink-2 { color: #; }
.pink-2-bg { background-color: #; }

.pink-1 { color: #; }
.pink-1-bg { background-color: #; }

/* Purple */
.purple-6 { color: #; }
.purple-6-bg { background-color: #; }

.purple-5 { color: #; }
.purple-5-bg { background-color: #; }

.purple,
.purple-4 { color: #; }
.purple-bg,
.purple-4-bg { background-color: #; }

.purple-3 { color: #;}
.purple-3-bg { background-color: #; }

.purple-2 { color: #; }
.purple-2-bg { background-color: #; }

.purple-1 { color: #; }
.purple-1-bg { background-color: #; }

/* Blue */
.blue-6 { color: #; }
.blue-6-bg { background-color: #; }

.blue-5 { color: #; }
.blue-5-bg { background-color: #; }

.blue,
.blue-4 { color: #; }
.blue-bg,
.blue-4-bg { background-color: #; }

.blue-3 { color: #;}
.blue-3-bg { background-color: #; }

.blue-2 { color: #; }
.blue-2-bg { background-color: #; }

.blue-1 { color: #; }
.blue-1-bg { background-color: #; }

/* Green */
.green-6 { color: #; }
.green-6-bg { background-color: #; }

.green-5 { color: #; }
.green-5-bg { background-color: #; }

.green,
.green-4 { color: #; }
.green-bg,
.green-4-bg { background-color: #; }

.green-3 { color: #;}
.green-3-bg { background-color: #; }

.green-2 { color: #; }
.green-2-bg { background-color: #; }

.green-1 { color: #; }
.green-1-bg { background-color: #; }

/* Lime */
.lime-6 { color: #; }
.lime-6-bg { background-color: #; }

.lime-5 { color: #; }
.lime-5-bg { background-color: #; }

.lime,
.lime-4 { color: #; }
.lime-bg,
.lime-4-bg { background-color: #; }

.lime-3 { color: #;}
.lime-3-bg { background-color: #; }

.lime-2 { color: #; }
.lime-2-bg { background-color: #; }

.lime-1 { color: #; }
.lime-1-bg { background-color: #; }

/* Yellow */
.yellow-6 { color: #; }
.yellow-6-bg { background-color: #; }

.yellow-5 { color: #; }
.yellow-5-bg { background-color: #; }

.yellow,
.yellow-4 { color: #; }
.yellow-bg,
.yellow-4-bg { background-color: #; }

.yellow-3 { color: #;}
.yellow-3-bg { background-color: #; }

.yellow-2 { color: #; }
.yellow-2-bg { background-color: #; }

.yellow-1 { color: #; }
.yellow-1-bg { background-color: #; }

/* Gray */
.gray-6 { color: #; }
.gray-6-bg { background-color: #; }

.gray-5 { color: #; }
.gray-5-bg { background-color: #; }

.gray,
.gray-4 { color: #; }
.gray-bg,
.gray-4-bg { background-color: #; }

.gray-3 { color: #;}
.gray-3-bg { background-color: #; }

.gray-2 { color: #; }
.gray-2-bg { background-color: #; }

.gray-1 { color: #; }
.gray-1-bg { background-color: #; }

/* Named Colors */

.facebook-purple { color: #3b5998; }
.facebook-purple-bg { background-color: #3b5998; }

.twitter-blue { color: #2caae1; }
.twitter-blue-bg { background-color: #2caae1; }

.linkedin-blue { color: #007bb6; }
.linkedin-blue-bg { background-color: #007bb6; }

.google-plus-red { color: #dd4b38; }
.google-plus-red-bg { background-color: #dd4b38; }

.pinterest-red { color: #cb2027; }
.pinterest-red-bg { background-color: #cb2027; }

.flickr-pink { color: #ff0084; }
.flickr-pink-bg { background-color: #ff0084; }