/* 

Custom typography providided by Google Web Fonts

Currently loaded: SOURCE SANS PRO

Weights available:

	200		200italic
	300		300italic
	400		400italic
	600		600italic
	700		700italic
	900		900italic

Source Sans Pro:	*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

h1,h2,h3,h4,h5,h6,
.navbar .brand,
body {
	font-family: "Source Sans Pro", sans-serif;
	text-rendering: optimizeLegibility;
}

/* Custom  Rules */

.navbar .brand {
	font-weight: 600;
}

.entry-header h1.entry-title {
	font-size:28pt;
	letter-spacing: -0.5px;
	line-height: 100%;
	font-weight:700;
}

.widget-area .widget h3.widget-title  {
    font-size:18pt;
    color:#888;
    margin: 0 0;
    font-weight:700;
    text-transform:uppercase;
}

.entry-content .brand {
	font-weight: 400;
}

.intro {
	font-size: 14pt;
	font-weight: 200;
}

.small {
	font-size: 10pt;
}

body {
	font-size: 12pt;
	font-weight: 300;
}

/* Default Headline sizes */

.entry-content h1.huge {
    font-size: 72pt;
    letter-spacing:-2px;
    line-height: 100%;
    weight:900;
}

.entry-content h1 {
    font-size:32pt;
    letter-spacing: -1px;
    line-height: 100%;
    font-weight:900;
	margin: 12px 0 6px 0;
}

h1.page-title, h1.title {
    letter-spacing: 0px;
}

.entry-content h2 {
    color:#555;
    font-size:28pt;
    letter-spacing: -0.5px;
    line-height: 100%;
    font-weight:700;
	margin: 12px 0 6px 0;
}

.entry-content h3 {
    color:#666;
    font-size:24pt;
    line-height: 100%;
    font-weight:600;
	margin: 12px 0 6px 0;
}
	
.entry-content h4 {
    color:#777;
    font-size:20pt;
    line-height: 100%;
    font-weight: 400;
	margin: 12px 0 6px 0;
}

.entry-content h5 {
    color:#888;
    font-size:18pt;
    line-height: 100%;
    font-weight: 300;
	margin: 12px 0 6px 0;
}

.entry-content h6 {
    color:#999;
    font-size:14pt;
    line-height: 100%;
    font-weight: 200;
	margin: 12px 0 6px 0;
}
